<!-- TODO -->
<template name="loginForm">
	<div class="loginForm">
		{{> Template.dynamic template=loginFormCurrentView}}
	</div>
</template>

<!-- 
Se utiliza para mostrar información en los formularios. Esta información la envia el servidor para informar de los problemas al realizar la operación en curso.
Se diferencia entre dos tipos de alertas según su importancia.
-->
<template name="loginFormMessages">
	<!-- Si la alerta es de tipo info -->
	{{#if messages.info}}
		<div class="alert alert-info">
			{{#each messages.info}}
				<p>{{reason}}</p>
			{{/each}}
		</div>
	{{/if}}

	<!-- Si la alerta es de tipo danger -->
	{{#if messages.alerts}}
		<div class="alert alert-danger">
			{{#each messages.alerts}}
				<p>{{reason}}</p>
			{{/each}}
		</div>
	{{/if}}
</template>

<!-- TODO -->
<template name="loginFormSeperator">
	<div class="loginForm-seperator">
		<span></span>
		<span class="text" data-i18n="accountsUI.or">or</span>
		<span></span>
	</div>
</template>
