<template name="loginFormUpdatePasswordOverlay">
  <div class="modal-backdrop fade in" id="modal-backdrop-{{uniqueId}}"></div>
  <div class="modal fade in" id="modal-{{uniqueId}}" style="display: block">
    <div class="modal-dialog">
      <form class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" data-i18n="accountsUI.updateYourPassword">Update Your Password</h4>
        </div>
        <div class="modal-body">


          <div class="login-form">

            <!-- Llamo a Template.loginFormMessages y le paso como parametro el resultado de la función messages (Template.instance().formMessages.get()). Como la formMessages es "reactive data", esto se llama cada vez que dicha función sufra algun cambio.-->
            {{> loginFormMessages messages=messages}}

            <div class="form-group {{hasError messages.errors.password }}">
              <label for="password_{{uniqueId}}" class="control-label" data-i18n="accountsUI.password">Password</label>
              <input id="password_{{uniqueId}}" class="form-control login-input--password" type="password"> {{#if hasError messages.errors.password}}
              <span class="help-block">
                {{#each messages.errors.password}}
                <p>{{reason}}</p>
                {{/each}}
              </span>
              {{/if}}
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-block action--submit" type="Submit" data-i18n="accountsUI.updatePasswordAndContinue">Update and continue</button>
        </div>
      </form>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</template>

<!-- Formulario para el cambio de password. Basicaente pide el antiguo password y el nuevo-->
<template name="loginFormChangePassword">
	<form class="login-form">
		{{> loginFormMessages messages=messages}}

		<!-- Seccion para el password antiguo-->
		<div class="form-group {{hasError messages.errors.oldPassword}}">
			<!-- <label for="currentPassword_{{uniqueId}}" class="control-label" data-i18n="accountsUI.oldPassword">Current Password</label>-->
			<input id="currentPassword_{{uniqueId}}" class="form-control login-input--oldPassword" type="password" value="{{oldPassword}}" placeholder="{{i18n 'accountsUI.oldPassword' 'current password'}}">
			<!-- Si el antiguo password es incorrecto, lo comento -->
			{{#if hasError messages.errors.oldPassword}}
				<span class="help-block">
					{{#each messages.errors.oldPassword}}
						<p>{{reason}}</p>
					{{/each}}
				</span>
			{{/if}}
		</div>

		<!-- Seccion para el password nuevo-->
		<div class="form-group {{hasError messages.errors.password }}">
			<!-- <label for="password_{{uniqueId}}" class="control-label" data-i18n="accountsUI.password">password</label> -->
			<input id="password_{{uniqueId}}" class="form-control login-input--password" type="password" value="{{password}}" placeholder="{{i18n 'accountsUI.password' 'password'}}">
			<!-- Si el nuevo password tiene errores, los comento -->
			{{#if hasError messages.errors.password}}
				<span class="help-block">
					{{#each messages.errors.password}}
						<p>{{reason}}</p>
					{{/each}}
				</span>
			{{/if}}
		</div>

		<!-- Botones para cancelar y subir el formulario -->
		<div class="form-group">
			<button class="btn btn-primary action--submit" type="Submit" data-i18n="accountsUI.updatePasswordAndContinue" data-event-category="accounts" data-event-action="change-password">Update and continue</button>
			<button class="btn btn-default" type="button" data-i18n="app.clean" data-event-category="accounts" data-event-action="change-password-clean">Clean</button>
		</div>
	</form>
</template>
