<!-- TODO -->
<template name="addressBookPanel">
	<div class="panel panel-primary panel-address-book">
		<div class="panel-heading">
			<h2 class="panel-title">Address Book</h2>

			<div class="panel-title panel-rigth">
			<button class="btn btn-info" type="button" data-event-action="addNewAddress">
					<i class="fa fa-plus fa-lg address-icons"></i>
					<span data-i18n="addressBookGrid.addAddress">Add Address</span>
				</button>
			</div>
		</div>
		{{> addressBook address=address}}
	</div>
</template>

<!-- TODO -->
<template name="addressBook">
	<div class="address-book">
		{{> Template.dynamic template=currentView data=data}}
	</div>
</template>
