<!-- TODO -->
<template name="loginFormSignInView">

	<div class="loginForm-title">
		<h2 data-i18n="accountsUI.signIn">Sign In</h2>
	</div>

	<!-- Para agregar servicios de autenticacion externos -->
	{{#each services}}
		<!-- Por cada servicio, se llama al template -->
		{{> loginFormServiceButton}}
	{{/each}}

	<!-- TODO : averiguar para que es esto -->
	{{#if shouldShowSeperator}}
		<!-- Se llama al template -->
		{{> loginFormSeperator}}
	{{/if}}

	<!-- Para agregar servicio de autenticacion correspondiente al sistema -->
	{{#if hasPasswordService}}
		<form class="login-form" novalidate>

			<!--  -->
			{{> loginFormMessages messages=messages}}

			<div class="form-group form-group-email {{hasError messages.errors.email}}">
				<label for="email-{{uniqueId}}" class="control-label" data-i18n="accountsUI.emailAddress">Email</label>
				<input id="email-{{uniqueId}}" class="form-control login-input-email" type="email" tabindex="1" value="{{email}}">

				{{#if hasError messages.errors.email}}
					<span class="help-block">
					{{messages.errors.email}}
					</span>
				{{/if}}
			</div>

			<div class="form-group {{hasError messages.errors.password }}">
				<label for="password-{{uniqueId}}" class="control-label" data-i18n="accountsUI.password">Password</label>
				<input id="password-{{uniqueId}}" class="form-control login-input-password" type="password" tabindex="2" value="{{password}}">

				{{#if hasError messages.errors.password}}
					<span class="help-block">
					{{messages.errors.password}}
				</span>
				{{/if}}
			</div>


			<div class="form-group">
				<!-- Botton para hacer submit de los datos : Basicamente llama al evento "submit form" del template "loginFormSignInView"-->
				<button class="btn btn-primary btn-block" type="submit" data-i18n="accountsUI.signIn" tabindex="3" data-event-action="submitSignInForm">Sign In</button>
			</div>

			<!-- Otras acciones -->
			<div class="form-group flex flex-justify-spaceBetween">
				<!-- Boton para recuperar acceso a la cuenta despues de haber olvidado el password -->
				<a data-i18n="accountsUI.forgotPassword" href tabindex="4" data-event-action="forgotPassword">Reset Password</a>
				<!-- Crearse una cuenta propia del sitio -->
				<a data-i18n="accountsUI.signUp" href tabindex="5" data-event-action="signUp">Register</a>
			</div>

		</form>

	{{/if}}

</template>
