<!-- TODO -->
<template name="loginDropdown">
	<div class="dropdown" role="menu">
		<!-- Si currentUser es true, entonces muestro menu relacionado con los permisos  -->
		{{#if currentUser}}
			<div class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
				<!-- Avatar : Consolidated Avatar Template Package for Meteor  -->
				<!-- Para mas detalles  : https://atmospherejs.com/utilities/avatar -->
				{{> avatar user=currentUser class="circular-icon" size="small" shape="rounded"}}
				<span id="logged-in-display-name"> {{displayName}}<b class="caret"></b></span>
			</div>
			<div class="dropdown-menu pull-right" role="menu">
				<!-- Template del formulario para un usuario del sistema -->
				{{> userDropdown}}
			</div>
		<!-- En caso contrario muestro formulario de log-in  -->
		{{else}}
			<div class="accounts-dropdown" data-event-category="accounts" data-event-action="accounts-dropdown-click">
				<div class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">
					<span data-i18n="accountsUI.signIn">Sign In</span><b class="caret"></b>
				</div>
				<div class="accounts-dialog accounts-layout dropdown-menu pull-right">
					<!-- Template del formulario de Log-in  -->
					{{> loginForm}}
				</div>
			</div>
		{{/if}}
	</div>
</template>

<!-- TODO -->
<template name="userDropdown">
	<div class="user-accounts-dropdown">
		<div class="user-accounts-dropdown-content">
			{{> accountsDropdownApps}}
		</div>
		<div class="btn btn-primary btn-block" id="logout" data-i18n="accountsUI.signOut">Sign Out</div>
	</div>
</template>

<!-- TODO -->
<template name="accountsDropdownApps">
	<ul class="user-accounts-dropdown-apps">
		{{> userAccountsDropdown}}
		<!--administrative shortcut icons -->
		{{#each reactionApps provides='shortcut' enabled=true}}
			{{#if hasPermission route}}
			<li class="dropdown-apps-icon">
				<a id="{{route}}" title="{{label}}">
					<i class="{{icon}}"></i>
					<span class="icon-text">
						{{label}}
					</span>
				</a>
			</li>
			{{/if}}
		{{/each}}
	</ul>
</template>

<!-- TODO -->
<template name="userAccountsDropdown">
	<!--user account shortcut icons -->
	{{#each reactionApps provides='userAccountDropdown' enabled=true}}
		{{#if hasPermission route}}
			<li class="dropdown-apps-icon">
				<a id="{{route}}" title="{{label}}">
					<i class="{{icon}}"></i>
					<span class="icon-text">
						{{label}}
					</span>
				</a>
			</li>
		{{/if}}
	<!-- TODO: Este ELSE va junto con el EACH ???.-->
	{{else}}
		<span data-i18n="accountsUI.signedIn">You are signed in.</span>
	{{/each}}
</template>
